@import "~breakpoint-sass";

$bk-desktop: 1920px 1440px;
$bk-table-landscape: 1440px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;


.workExpCard {
  border: 1px solid var(--border-default);
  padding: 24px;
  width: 100%;
  min-width: 350px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: var(--spacing-l);
  border-radius: 16px;

  @include breakpoint($bk-phone) {
    display: flex;
    flex-flow: column;
  }
}

.WorkExpWrapper {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-s);
}

h3 {
  margin-bottom: var(--spacing-m);
  color: var(--accent-default);
}

.info {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
}

.info:hover {
  text-decoration: none;
  color: var(--accent-hover);
}

.companyInfo {
  display: flex;
  align-items: start;
  gap: var(--spacing-s);
}

.companyInfo:hover {
  .title, .description {
    text-decoration: none;
    color: var(--accent-hover);
  }
}

.companyLogo {
  width: 24px;
  margin-top: 4px;
  height: 24px;
  object-fit: contain;
  border-radius: 4px;
}


.title {
  font-weight: 590;
  font-size: var(--font-size-m);
  color: var(--fg-default);
}

.description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  color: var(--fg-muted);
}