@import "~breakpoint-sass";

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: 510;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &--default {
    background-color: var(--bg-muted);
    color: var(--fg-default);
  }

  &--primary {
    background-color: var(--accent-default);
    color: var(--accent-on-accent);
  }

  &--success {
    background-color: var(--success-default);
    color: var(--fg-on-accent);
  }

  &--warning {
    background-color: var(--warning-default);
    color: var(--fg-on-accent);
  }

  &--error {
    background-color: var(--error-default);
    color: var(--fg-on-accent);
  }

  &--hr {
    background-color: var(--bg-container);
    color: var(--fg-default);
  }

  &--chatlab {
    background-color: #d7f1ff;
    color: #464646;
  }

  &--sparta {
    background-color: #ffd7d7;
    color: #4646;
  }

  &--botdev {
    background-color: #eeeeee;
    color: #464646;
  }

  &--small {
    padding: 2px 8px;
    font-size: 10px;
  }

  &--medium {
    padding: 4px 8px;
    font-size: 15px;
  }

  &--large {
    padding: 6px 16px;
    font-size: 14px;
  }
}