/* CustomCursor.scss */

@import "~breakpoint-sass";
$bk-desktop: 1920px 1440px;
$bk-table-landscape: 1440px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

/* Убираем стандартный курсор со всех элементов */
* {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--fg-default);
  opacity: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  transition: transform 0s, background-color 0s, box-shadow 0s;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: normal;
  
  &.hover {
    transform: translate(-50%, -50%) scale(0.8);
    background-color: var(--fg-default);
    opacity: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  
  @include breakpoint(max-width $bk-phone) {
   display: none;
}
 
 @include breakpoint(max-width $bk-table) {
   display: none;
}
}