/* CustomCursor.scss */

@import "~breakpoint-sass";
$bk-desktop: 1920px 1440px;
$bk-table-landscape: 1440px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

.custom-cursor {
  position: fixed;
 pointer-events: none;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: background-image 0.1s linear, transform 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out;
  
  &.hover {
    transform: translate(-50%, -50%) scale(1.2);
    width: 70px;
    height: 70px;
  }
  
  &.active {
    transform: translate(-50%, -50%) scale(0.9);
    width: 60px;
    height: 60px;
  }
  
  @include breakpoint(max-width $bk-phone) {
    display: none;
  }
  
  @include breakpoint(max-width $bk-table) {
    display: none;
  }
}